body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
.header-links {
    display: flex;
    gap: 20px;
}

img {
    border: 5px solid #555;
  }

/* Upper Text */

.upper-container {
    display: flex;
    background-color: #1f2937;
    padding: 48PX;
    justify-content: space-around;
    padding: 100px;  
}

.up-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.up-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.upper-text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 48%;
}

button {
    display: block;
    background-color: #3882f6;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bolder;
    color: #E5E7EB;
    width: 150px;
    text-align: center;
    padding: 10px 20px;
    border: none;
}

/* Information */

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images img {
    border: solid;
    border-color: #3882f6;
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-radius: 5px;
}

.mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 52px;
    gap: 52px;
}

.images {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    text-align: center;
  }

/* Quotes */

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 600px;
}

.thor {
    align-self: flex-end;
    font-weight: bolder;
}

/* bottom part*/

.bigger-bottom-container {
    margin: 100px 200px;
}

.bottom-text {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.call {
    font-size: 20px;
    font-weight: bolder;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    padding: 100px 200px;
    border-radius: 10px;
    justify-content: space-between;
}

.bottom-container .action-button {
    display: block;
    border: 3px solid white;
}

/* footer */

.footer {
    background-color: #1f2937;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: lightgray;
    padding: 20px 0px;
}